:root {
    --orange: #ec994b;
    --darkgrey: #111111;
    --black: #000000;
    --white: #fff;
}

header {
    position: fixed;
    top: 0; left: 0; right: 0;
    background: var(--darkgrey);
    padding: 1.5rem 17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo {
    font-size: 28px;
    color: var(--white);
    font-weight: bolder;
}

header .navbar a {
    font-size: 1.5rem;
    padding: 0 2.5rem;
    color: var(--white);
}

header .logo:hover {
    color:var(--orange)
}

header .navbar a:hover {
    color:var(--orange);
}

.menu-content {
    padding-top: 40px;
    padding-right: 50px;
    padding-left: 50px;
    max-width: 1400px; 
    margin: 0 auto;
}

.menu-content h2 {
    color: black;
}

hr {
    color: var(--black);
    width: 100%;
}
.menu-heading {
    padding-top: 100px;
    padding-left: 15px;
    color: var(--black); 
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
}
.menu-card {
    position: relative;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #dbdbdb;
    width: 95%;
    height: 94%;
}

.display {
    width: 100%;
    height: 230px; 
    object-fit: cover; 
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    aspect-ratio: 1;
}

.product-name {
    display: block;
    margin: 18px;
    margin-left: 19px;
    font-size: 17px !important;
    font-weight: bold;
}

.description {
    margin: 19px;
    margin-top: -15px;
    font-size: 15px !important;
    /* word-wrap: break-word; */
    text-align: justify;
}

.price {
    position: absolute;
    margin-left: 19px;
    bottom: 20px;
    text-align: left;
    font-size: 17px !important;
    font-weight: bold;
}

.content-title {
    margin-top: 180px;
    text-align: center;
    color: var(--black);
}

h3 {
    margin-top: 20px;
}

.menu-card:hover {
    transform: scale(1.07);
    transition: 0.2s ease-in;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

/* menu navbar */
.menu-nav {
    position: fixed;
    top: -25px; left: 0; right: 0;
    background: white;
    padding: 0 17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.menu-nav ul li {
    display: inline-block;
    margin-top: 90px;
    position: relative;
    list-style: none;
    padding: 30px;
    font-size: 15px;
}

.menu-nav a {
    color: var(--black);
}

.menu-nav ul li:hover {
    color: var(--orange);
    cursor: pointer;
}

#scrolltoTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px 15px;
    border: 2px solid var(--orange);
    background-color: var(--orange);
    color: var(--black);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

#scrolltoTop:hover {
    background-color: var(--white);
}

@media screen and (max-width: 800px) {
    .menu-nav {
        overflow-x: scroll;
    }
}